<script setup lang="ts">
import { numberToHumanReadableText } from "@/numbersHelpers";
import { store } from "@/store";
import { computed } from "vue";

const props = defineProps<{ endpointID?: string }>();

const { primaryColor, secondaryColor } = store;

const outputEndpoint = store.outputs[props.endpointID ?? ""]!;

const width = 270;
const height = 90;
const viewBox = `0 0 ${width} ${height}`;
const trimStartFrequency = 10;
const maxFrequency = 20_000;

function frequencyToLog(frequency: number): number {
  return Math.log10(frequency) / Math.log10(maxFrequency);
}

function scaleX(frequency: number): number {
  const trimStartScale: number = frequencyToLog(trimStartFrequency);

  return (
    (Math.log10(frequency) / Math.log10(maxFrequency) - trimStartScale) *
    width *
    // TODO: I don't know why * 1.3 works
    1.3
  );
}

// TODO: scaleY
const xMeasuresWithLabels: number[] = [20, 100, 1000, 10000];
const xMeasures: { x: number; label: string }[] = [
  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300,
  400, 500, 600, 700, 800, 900, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000,
  9000, 10_000, 20_000,
]
  // .filter((frequency) => frequency >= trimStartFrequency)
  .map((x) => ({
    x: scaleX(x),
    label: xMeasuresWithLabels.includes(x)
      ? numberToHumanReadableText(x, 0)
      : "",
  }));

const plotPath = computed(() => {
  const values: number[] = outputEndpoint.value as number[];

  if (!outputEndpoint?.value) {
    return "";
  }

  const xy: { frequency: number; x: number; y: number }[] = values
    .map((v, i) => ({
      frequency: i * maxFrequency,
      // TODO: Remove 0.0001 hack
      x: scaleX((i * maxFrequency + 0.0001) / values.length),
      y: height / 2 + -v * (height),
    }))
    // .filter(({ frequency }): boolean => frequency >= trimStartFrequency);

  return "M " + xy.map(({ x, y }) => `${x} ${y}`).join(" L ");
});
</script>

<template>
  <div class="control" :style="{ width: `${width}px`, height: `${height}px` }">
    <svg :viewBox="viewBox">
      <line
        v-for="measure in xMeasures"
        :key="measure.label"
        :stroke="secondaryColor"
        :x1="measure.x"
        y0="0"
        :x2="measure.x"
        :y2="height"
      />

      <line
        :stroke="secondaryColor"
        x1="0"
        :y1="height / 2"
        :x2="width"
        :y2="height / 2"
      />

      <text
        v-for="measure in xMeasures"
        :key="measure.label"
        text-anchor="middle"
        :x="measure.x"
        :y="height / 2"
        class="bode-plot-measure-label"
      >
        {{ measure.label }}
      </text>

      <path
        :d="plotPath"
        :stroke="primaryColor"
        ref="path-value"
        class="value"
      ></path>
    </svg>
  </div>
</template>

<style scoped>
.control {
  display: inline-block;
  user-select: none;
}

.value {
  fill: none;
  stroke-width: 1px;
}

.bode-plot-measure-label {
  font-size: 0.5rem;
  text-align: center;
  fill: black;
}

.units {
  font-size: 0.9rem;
  text-align: center;
  fill: white;
}
</style>
