<script setup lang="ts">
import { store } from "@/store";
import { computed } from "vue";

const props = defineProps<{ endpointID?: string }>();

const { primaryColor, secondaryColor } = store;

const outputEndpoint = store.outputs[props.endpointID ?? ""]!;

const width = 270;
const height = 90;
const viewBox = `0 0 ${width} ${height}`;
const maxTime = 5;

const xMeasures: { x: number; label: string }[] = [
  0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5
]
  .map((x) => ({
    x: (x / maxTime) * width,
    label: x.toString()
  }));

const plotPath = computed(() => {
  const values: number[] = outputEndpoint.value as number[];

  if (!outputEndpoint?.value) {
    return "";
  }

  // TODO:
  const xy: { time: number; x: number; y: number }[] = values
    .map((v, i) => ({
      time: i * maxTime,
      x: (i * maxTime) / values.length,
      y: height / 2 + -v * (height),
    }))

  return "M " + xy.map(({ x, y }) => `${x} ${y}`).join(" L ");
});
</script>

<template>
  <div class="control" :style="{ width: `${width}px`, height: `${height}px` }">
    <svg :viewBox="viewBox">
      <line
        v-for="measure in xMeasures"
        :key="measure.label"
        :stroke="secondaryColor"
        :x1="measure.x"
        y0="0"
        :x2="measure.x"
        :y2="height"
      />

      <line
        :stroke="secondaryColor"
        x1="0"
        :y1="height / 2"
        :x2="width"
        :y2="height / 2"
      />

      <text
        v-for="measure in xMeasures"
        :key="measure.label"
        text-anchor="middle"
        :x="measure.x"
        :y="height / 2"
        class="dynamics-plot-measure-label"
      >
        {{ measure.label }}
      </text>

      <path
        :d="plotPath"
        :stroke="primaryColor"
        ref="path-value"
        class="value"
      ></path>
    </svg>
  </div>
</template>

<style scoped>
.control {
  display: inline-block;
  user-select: none;
}

.value {
  fill: none;
  stroke-width: 1px;
}

.dynamics-plot-measure-label {
  font-size: 0.5rem;
  text-align: center;
  fill: black;
}

.units {
  font-size: 0.9rem;
  text-align: center;
  fill: white;
}
</style>
