<script setup lang="ts">
import { numberToHumanReadableText } from "@/numbersHelpers";
import { store } from "@/store";
import { computed } from "vue";

const props = defineProps<{
  endpointID?: string;
  units?: string;
}>();

const { primaryColor, secondaryColor } = store;

const inputEndpoint = store.inputs[props.endpointID ?? ""] ?? {
  endpointID: 'ID',
  type: 'param',
  value: 0,
  label: 'Eaxmple',
  unit: '%',
  min: -100,
  max: 100
};
const valueDisplay = computed(() =>
  numberToHumanReadableText(inputEndpoint.value as number)
);

const min = inputEndpoint?.min ?? 0;
const max = inputEndpoint?.max ?? 100;
const radius = 40;
const midX = 50;
const midY = 50;
const minRadians = (4 / 3) * Math.PI;
const maxRadians = (1 / 3) * -Math.PI;

const mapRange = (
  x: number,
  inMin: number,
  inMax: number,
  outMin: number,
  outMax: number
) => {
  return ((x - inMin) * (outMax - outMin)) / (inMax - inMin) + outMin;
};

function zeroRadians() {
  if (min > 0 && max > 0)
    return mapRange(min, min, max, minRadians, maxRadians);
  // Handle case when min < 0
  else return mapRange(0, min, max, minRadians, maxRadians);
}

function valueRadians() {
  return mapRange(
    inputEndpoint.value as number,
    min,
    max,
    minRadians,
    maxRadians
  );
}

const minX = computed(() => midX + Math.cos(minRadians) * radius);
const minY = computed(() => midY - Math.sin(minRadians) * radius);
const maxX = computed(() => midX + Math.cos(maxRadians) * radius);
const maxY = computed(() => midY - Math.sin(maxRadians) * radius);
const zeroX = computed(() => midX + Math.cos(zeroRadians()) * radius);
const zeroY = computed(() => midY - Math.sin(zeroRadians()) * radius);
const valueX = computed(() => midX + Math.cos(valueRadians()) * radius);
const valueY = computed(() => midY - Math.sin(valueRadians()) * radius);
const largeArc = computed(() =>
  Math.abs(zeroRadians() - valueRadians()) < Math.PI ? 0 : 1
);
const sweep = computed(() => (valueRadians() > zeroRadians() ? 0 : 1));

const rangePath = computed(() => {
  return `M ${minX.value} ${minY.value} A ${radius} ${radius} 0 1 1 ${maxX.value} ${maxY.value}`;
});

const valuePath = computed(() => {
  return `M ${zeroX.value} ${zeroY.value} A ${radius} ${radius} 0 ${largeArc.value} ${sweep.value} ${valueX.value} ${valueY.value}`;
});

let x: number = 0,
  y: number = 0;
let oldValue: number = inputEndpoint.value as number;

const moveWidth = 100;

const mouseMove = (e: MouseEvent) => {
  const scale: number = max - min;
  const diff: number = ((-(x - e.x) + (y - e.y)) / moveWidth) * scale;

  const value: number = Math.min(max, Math.max(min, oldValue + diff));

  if (props.endpointID) {
    store.setInput(props.endpointID, value);
  }
};

function onMouseUp() {
  window.removeEventListener("mousemove", mouseMove);
  window.removeEventListener("mouseup", onMouseUp);

  oldValue = inputEndpoint.value as number;
}

function onMouseDown(e: MouseEvent) {
  x = e.x;
  y = e.y;

  window.addEventListener("mousemove", mouseMove);
  window.addEventListener("mouseup", onMouseUp);
}
</script>

<template>
  <div class="control">
    <svg viewBox="0 0 100 100" @mousedown="onMouseDown">
      <path :d="rangePath" :stroke="secondaryColor" class="range-arc"></path>
      <path
        :d="valuePath"
        :stroke="primaryColor"
        ref="path-value"
        class="value-arc"
      ></path>
      <text :x="50" :y="57" text-anchor="middle" class="text-display">
        {{ valueDisplay }}
      </text>
      <text :x="50" :y="93" text-anchor="middle" class="units">
        {{ units ?? "" }}
      </text>
    </svg>
  </div>
</template>

<style>
.control {
  display: inline-block;
  width: 60px;
  height: 60px;
  user-select: none;
}

.range-arc,
.value-arc {
  stroke-width: 3px;
  fill: none;
}

.text-display {
  font-size: 1.3rem;
  text-align: center;
  user-select: none;
}

.units {
  font-size: 0.9rem;
  text-align: center;
  fill: #333;
  user-select: none;
}
</style>
