<script setup lang="ts">
defineProps<{ containerWidth?: number }>();
</script>
<template>
  <div class="item" :style="{ width: `${containerWidth ?? 60}px` }">
    <slot></slot>
    <span class="label">
      <slot name="label"></slot>
    </span>
  </div>
</template>
<style scoped>
.item {
  display: inline-block;
  text-align: center;
  padding: 0;
}

.label {
  font-size: 0.7rem;
  text-align: center;
  color: #333;
}
</style>
