<script setup lang="ts">
import { store } from "@/store";
import { computed } from "vue";

const props = defineProps<{
  endpointID?: string;
  units?: string;
}>();

const { primaryColor, secondaryColor } = store;

const outputEndpoint = store.outputs[props.endpointID ?? ""]!;
const valueDisplay = computed(() =>
  (outputEndpoint.value as number).toPrecision(3)
);

const w = 80;

const x = (100 - w) / 2;

const h = computed(() => {
  const v: number =
    ((outputEndpoint.value as number) - (outputEndpoint.min ?? 0)) /
    ((outputEndpoint.max ?? 100) - (outputEndpoint.min ?? 0));

  return Math.max(v, 0) * 100;
});

const y = computed(() => 100 - h.value);
</script>

<template>
  <div class="control">
    <svg viewBox="0 0 100 100">
      <rect :x="x" y="0" :width="w" height="100" :fill="secondaryColor"></rect>
      <rect :x="x" :y="y" :width="w" :height="h" :fill="primaryColor"></rect>

      <text :x="50" :y="57" text-anchor="middle" class="text-display">
        {{ valueDisplay }}
      </text>
      <text :x="50" :y="76" text-anchor="middle" class="units">
        {{ units }}
      </text>
    </svg>
  </div>
</template>

<style scoped>
.control {
  display: inline-block;
  width: 60px;
  height: 60px;
  user-select: none;
}

.value {
  fill: none;
}

.text-display {
  font-size: 1.3rem;
  text-align: center;
  fill: white;
}

.units {
  font-size: 0.9rem;
  text-align: center;
  fill: white;
}
</style>
