<script setup lang="ts">
import { store } from "@/store";
import { computed } from "vue";

const props = defineProps<{ endpointID?: string }>();

const { primaryColor } = store;

const outputEndpoint = store.outputs[props.endpointID ?? ""]!;

const plotPath = computed(() => {
  const values: number[] = outputEndpoint.value as number[];

  if (!outputEndpoint?.value) {
    return "";
  }

  let xy: { x: number; y: number }[];

  if (outputEndpoint.type === "oscilloscope") {
    xy = values.map((v, i) => ({
      x: (i / values.length) * 100,
      y: 50 + -v * 50,
    }));
  } else if (outputEndpoint.type === "xy-oscilloscope") {
    xy = [];

    for (let i = 0; i < 1024; i++) {
      xy.push({
        x: 50 + (values[i * 2] as number) * 50,
        y: 50 + (-values[i * 2 + 1] as number) * 50,
      });
    }
  } else if (outputEndpoint.type === "lissajous") {
    xy = [];

    const sqrt2: number = Math.sqrt(2);

    for (let i = 0; i < 1024; i++) {
      const x: number = values[i * 2] as number;
      const y: number = -values[i * 2 + 1] as number;

      // Rotate 45 degrees
      const rotatedX: number = (x + y) / sqrt2;
      const rotatedY: number = (y - x) / sqrt2;

      xy.push({
        x: 50 + rotatedX * 50,
        y: 50 + rotatedY * 50,
      });
    }
  } else {
    xy = [];
  }

  return "M " + xy.map(({ x, y }) => `${x} ${y}`).join(" L ");
});
</script>

<template>
  <div class="control">
    <svg viewBox="0 0 100 100">
      <path
        :d="plotPath"
        :stroke="primaryColor"
        ref="path-value"
        class="value"
      ></path>
    </svg>
  </div>
</template>

<style scoped>
.control {
  display: inline-block;
  width: 60px;
  height: 60px;
  user-select: none;
}

.value {
  fill: none;
  stroke-width: 1px;
}

.text-display {
  font-size: 1.3rem;
  text-align: center;
  fill: white;
}

.units {
  font-size: 0.9rem;
  text-align: center;
  fill: white;
}
</style>
