<script setup lang="ts">
import { store } from "@/store";
import { computed } from "vue";

const props = defineProps<{
  endpointID?: string;
  units?: string;
}>();

const { primaryColor, secondaryColor } = store;

const outputEndpoint = store.outputs[props.endpointID ?? ""]!;

const meterAngle = 135;

const w = 100;
const h = 100;

const x = w / 2;
const y = h - 35;

const valueDisplay = computed(() =>
  (outputEndpoint.value as number).toPrecision(3)
);

const markupsNumber: number = 8;

const min = outputEndpoint.min ?? 0;
const max = outputEndpoint.max ?? 100;

const markups: { index: number; angle: number; value: number }[] = new Array(
  markupsNumber
)
  .fill(0)
  .map((_, i: number) => {
    const v: number = i / (markupsNumber - 1);

    return {
      index: i,
      angle: v * meterAngle - meterAngle / 2,
      value: Math.round(v * (max - min)) + (min ?? 0),
    };
  });

const angle = computed(() => {
  const v: number = ((outputEndpoint.value as number) - min) / (max - min);

  return Math.min(Math.max(v, 0), 1) * meterAngle - meterAngle / 2;
});

const transformExpression = computed(() => {
  return `rotate(${angle.value}, ${x}, ${y})`;
});
</script>

<template>
  <div class="control">
    <svg viewBox="0 0 100 100">
      <defs>
        <clipPath id="cut-meter-viewport">
          <rect x="0" y="0" width="100" height="50" />
        </clipPath>
      </defs>

      <line
        v-for="markup of markups"
        v-bind:key="markup.index"
        :transform="`rotate(${markup.angle}, ${x}, ${y})`"
        :x1="x"
        :y1="y - 40"
        :x2="x"
        y2="20"
        :stroke="markup.value < 0 ? secondaryColor : '#ff0000'"
      />

      <text
        v-for="markup of markups"
        v-bind:key="markup.index"
        :transform="`rotate(${markup.angle}, ${x}, ${y})`"
        :x="x"
        :y="y - 50"
        text-anchor="middle"
        font-size="0.5rem"
      >
        {{ markup.value }}
      </text>

      <line
        clip-path="url(#cut-meter-viewport)"
        :transform="transformExpression"
        :x1="x"
        :y1="y"
        :x2="x"
        y2="20"
        :stroke="primaryColor"
      />

      <text :x="50" :y="81" text-anchor="middle" class="text-display">
        {{ valueDisplay }}
      </text>
      <text :x="50" :y="100" text-anchor="middle" class="units">
        {{ units }}
      </text>
    </svg>
  </div>
</template>

<style scoped>
.control {
  display: inline-block;
  width: 60px;
  height: 60px;
  user-select: none;
}

.text-display {
  font-size: 1.3rem;
  text-align: center;
  fill: #000;
}

.units {
  font-size: 0.9rem;
  text-align: center;
  fill: #000;
}
</style>
