<script setup lang="ts">
import KnobControl from "./components/KnobControl.vue";
import MeterView from "./components/MeterView.vue";
import VUMeterView from "./components/VUMeterView.vue";
import PlotView from "./components/PlotView.vue";
import LabeledItem from "./components/LabeledItem.vue";
import BodePlotViewVue from "./components/BodePlotView.vue";
import { store } from "./store";
</script>

<template>
  <div id="app">
    <header>
      <h1>{{ store.name }}</h1>
    </header>
    <main>
      <section style="text-align: center">
        <LabeledItem v-for="input in store.inputs" :key="input.endpointID">
          <KnobControl :endpointID="input.endpointID" :units="input.unit" />
          <template #label>{{ input.label }}</template>
        </LabeledItem>
      </section>

      <section style="text-align: center">
        <template v-for="output in store.outputs" :key="output.endpointID">
          <LabeledItem v-if="output.type === 'level'">
            <MeterView :endpointID="output.endpointID" :units="output.unit" />
            <template #label>{{ output.label }}</template>
          </LabeledItem>
        </template>
      </section>

      <section style="text-align: center">
        <template v-for="output in store.outputs" :key="output.endpointID">
          <LabeledItem v-if="output.type === 'vu'">
            <VUMeterView :endpointID="output.endpointID" :units="output.unit" />
            <template #label>{{ output.label }}</template>
          </LabeledItem>
        </template>
      </section>

      <section style="text-align: center">
        <template v-for="output in store.outputs" :key="output.endpointID">
          <LabeledItem v-if="output.type === 'bode-plot'" :containerWidth="270">
            <BodePlotViewVue :endpointID="output.endpointID" />
            <template #label>{{ output.label }}</template>
          </LabeledItem>
        </template>
      </section>

      <section style="text-align: center">
        <template v-for="output in store.outputs" :key="output.endpointID">
          <LabeledItem
            v-if="
              ['oscilloscope', 'xy-oscilloscope', 'lissajous'].includes(
                output.type
              )
            "
          >
            <PlotView :endpointID="output.endpointID"></PlotView>
            <template #label>{{ output.label }}</template>
          </LabeledItem>
        </template>
      </section>

      <section v-if="store.error">
        {{ store.error }}
      </section>
    </main>
  </div>
</template>

<style scoped>
header {
  line-height: 1.5;
  color: #333;
  border-bottom: solid 1px #bbb;
  padding: 30px;
  margin-bottom: 30px;
}

section {
  margin-bottom: 2rem;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}
</style>
